<div class="panel">
	<div class="panel-heading">
		Add a new host
	</div>
	<div class="panel-block">
		<div class="control">
			<div class="field">
				<div class="control">
					<input class="input new-host-display-name" type="text" placeholder="Display name (if blank it will be the hostname)"/>
				</div>
			</div>
			<div class="field">
				<div class="control">
					<input class="input new-host" type="text" placeholder="Hostname or IP address"/>
				</div>
			</div>
			<!--
			<div class="field">
				<div class="control">
					<label class="checkbox">
						<input type="checkbox" class="monitor-windows-meta-data">
						Monitor windows meta data
					</label>
				</div>
			</div>

			<div class="windows-login-details">
				<em>Warning! the username and passwords are stored in plain text!</em>
				<div class="columns">	
					<div class="column">
						<div class="field">
							<div class="control">
								<input class="input windows-username" type="text" placeholder="Username"/>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="field">
							<div class="control">
								<input class="input windows-password" type="password" placeholder="Password"/>
							</div>
						</div>
					</div>
				</div>
			</div>-->
			<div class="has-text-centered">
				<div class="columns">	
					<div class="column">
						<button class="button is-success">Add new host</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>